@media screen and ( min-width: 75rem ) {
	.left-sidebar {
		.content-area {
			float: right;
			width: 72.517730496453901%;
		}

		.widget-area {
			float: left;
			width: 24.290780141843972%;
		}
	}
}
