.left-sidebar {
	.content-area {
		@each $name, $value in $breakpoints {
			@media screen and ( min-width: $value ) {
				@if ( xs == $name ) {

				}

				@if ( sm == $name ) {

				}

				@if ( md == $name ) {

				}

				@if ( lg == $name ) {
					float: right;
					width: 69.02834008097166%;
				}

				@if ( xl == $name ) {
					float: right;
					width: 72.872340425531915%;
				}
			}
		}
	}

	.widget-area {
		@each $name, $value in $breakpoints {
			@if $name == lg {
				@media screen and ( max-width: $value ) {
					float: left;
					width: 27.327935222672065%;
				}
			}

			@if $name == xl {
				@media screen and ( min-width: $value ) {
					float: left;
					width: 23.936170212765957%;
				}
			}
		}
	}
}

.right-sidebar {
	.content-area {
		float: left;
		width: 72.517730496453901%;
	}

	.widget-area {
		float: right;
		width: 24.290780141843972%;
	}
}
