.alignleft {
	float: left;
	margin-right: 1.5em;
}

.alignright {
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.grid {
	display: grid;
	grid-template-columns:  1fr 1fr 1fr;
	grid-gap: 1.125rem;
	list-style: none;
	margin: 0;
	padding: 0;
}