.site-header {
    .site-branding {
        padding: 3rem;
        text-align: center;

        .site-title,
        .site-description {
            margin: 0;
            padding: 0;
        }

        .site-title {
            font-size: $text-4xl;

            a {
                border-bottom: none;
                color: #ffffff;
                text-decoration: none;
                text-shadow: 4px 4px #000000;
            }
        }

        .site-description {
            color: #ffffff;
            text-shadow: 4px 4px #000000;
        }
    }
}

@media screen and ( min-width: 768px ) {
    .site-header {
        .site-branding {
            padding: 6rem;
            text-align: center;

            .site-title,
            .site-description {
                margin: 0;
                padding: 0;
            }

            .site-title {
                font-size: $text-7xl;

                a {
                    border-bottom: none;
                    color: #ffffff;
                    text-decoration: none;
                    text-shadow: 4px 4px #000000;
                }
            }

            .site-description {
                color: #ffffff;
                text-shadow: 4px 4px #000000;
            }
        }
    }
}

@media only screen and ( min-width: 1024px ) {
    .site-header {
        .site-branding {
            text-align: center;

            .site-title,
            .site-description {
                margin: 0;
                padding: 0;
            }

            .site-title {
                font-size: $text-7xl;

                a {
                    border-bottom: none;
                    color: #ffffff;
                    text-decoration: none;
                    text-shadow: 4px 4px #000000;
                }
            }

            .site-description {
                color: #ffffff;
                text-shadow: 4px 4px #000000;
            }
        }
    }
}
