.site-header {
    .site-branding {
        padding: 6rem;
        text-align: center;

        .site-title,
        .site-description {
            margin: 0;
            padding: 0;
        }

        .site-title {
            font-size: $text-7xl;

            a {
                color: #ffffff;
                text-decoration: none;
                text-shadow: 4px 4px #000000;
            }
        }

        .site-description {
            color: #ffffff;
            text-shadow: 4px 4px #000000;
        }
    }
}