.wp-caption {
    max-width: 100%;
    margin-bottom: 1.5em;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.wp-caption-text {
    text-align: center;
}

.wp-caption .wp-caption-text,
.gallery-caption {
    background: #eeeeee;
    font-size: 0.938em;
    padding: 0.313em;
    text-align: center;
}

.wp-caption p {
    margin: 0;
    padding: 0;
}