/// Returns an map of page breaks in name-value format.
///
/// @since  1.0.0
/// @access public
/// @return {map}  Map of page breaks.

// Mostly used for defining `max-width` and breakpoints.

$width-xs:      30rem; // 480px
$width-sm:      40rem; // 640px
$width-md:      48rem; // 768px
$width-lg:      64rem; // 1024px
$width-xl:      75rem; // 1200px
$width-full:    100vw;

$width-base: $width-sm;

$breakpoints: (
	 xs: $width-xs, // 480px
	 sm: $width-sm, // 640px
	 md: $width-md, // 768px
	 lg: $width-lg, // 1024px
	 xl: $width-xl, // 1200px
);
