/// Returns an map of page breaks in name-value format.
///
/// @since  1.0.0
/// @access public
/// @return {map}  Map of page breaks.

// Mostly used for defining `max-width` and breakpoints.
$width-xs:   30rem; // 480px
$width-sm: 37.5rem; // 600px
$width-md:   48rem; // 768px
$width-lg:   64rem; // 1024px
$width-xl:   72rem; // 1152px
$width-1xl:  75rem; // 1200px
$width-full: 100vw;

$width-base: 40rem; // 640px

$breakpoints: (
	 xs: $width-xs,
	 sm: $width-sm,
	 md: $width-md,
	 lg: $width-lg,
	 xl: $width-xl,
	xxl: $width-1xl,
);
