.site-container:before, .site-container:after,
.site-content:before,
.site-content:after,
.site-main:before,
.site-main:after,
.content-area:before,
.content-area:after,
.post-navigation:before,
.post-navigation:after,
.posts-navigation:before,
.posts-navigation:after,
.entry-content:before,
.entry-content:after {
  clear: both;
  content: "";
  display: table;
}

body {
  background: #cccccc;
  font-family: var(--font-family-primary, "Merriweather", serif);
  font-size: 1rem;
  margin: 0;
}

h1 {
  display: block;
  font-family: var(--font-family-heading, "Fira Sans", serif);
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0.67em 0;
}

h2 {
  display: block;
  font-family: var(--font-family-heading, "Fira Sans", serif);
  font-size: 2rem;
  font-weight: 700;
  margin: 0.83em 0;
}

h3 {
  display: block;
  font-family: var(--font-family-heading, "Fira Sans", serif);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1em 0;
}

h4 {
  display: block;
  font-family: var(--font-family-heading, "Fira Sans", serif);
  font-size: 1.25rem;
  font-weight: 700;
  margin: 1.33em 0;
}

h5 {
  display: block;
  font-family: var(--font-family-heading, "Fira Sans", serif);
  font-size: 1.125rem;
  font-weight: 700;
  margin: 1.67em 0;
}

h6 {
  display: block;
  font-family: var(--font-family-heading, "Fira Sans", serif);
  font-size: 1rem;
  font-weight: 700;
  margin: 2.33em 0;
}

a {
  color: #000000;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

@media screen and (min-width: 75rem) {
  .site-container {
    background: #ffffff;
    margin: 0 auto;
    max-width: 72.75rem;
  }
  .site-container .site-content {
    padding: 1.125rem;
  }
  .site-container .site-content .left-sidebar .content-area {
    float: right;
    width: 70.9219858156%;
  }
  .site-container .site-content .left-sidebar .widget-area {
    float: left;
    width: 25.8865248227%;
  }
  .site-container .site-content .left-sidebar .widget-area .widget {
    margin-top: 2.25rem;
  }
  .site-container .site-content .left-sidebar .widget-area .widget:first-child {
    margin-top: 0;
  }
  .site-container .site-footer {
    margin: 1.125rem;
  }
}
@media screen and (min-width: 75rem) {
  .site-header .custom-image-header {
    position: relative;
  }
  .site-header .custom-image-header .site-branding {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .site-header .custom-image-header .site-branding .site-title {
    font-size: 3rem;
    margin: 0;
    padding: 0;
  }
  .site-header .custom-image-header .site-branding .site-title a {
    color: #000000;
    text-decoration: none;
  }
  .site-header .custom-image-header .site-branding .site-description {
    margin: 0;
    padding: 0;
  }
}
@media screen and (max-width: 30rem) {
  .menu-toggle {
    background: #000000;
    border: none;
    bottom: 1.125rem;
    color: #ffffff;
    cursor: pointer;
    font-family: var(--font-family-primary, "Merriweather", serif);
    left: 1.125rem;
    padding: 0.5rem 1rem;
    position: fixed;
  }
  .menu-items {
    left: -9999rem;
    position: absolute;
  }
  .toggled .menu-items {
    background: #000000;
    display: block;
    bottom: 3.5rem;
    left: 1.25rem;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 1.125rem;
    text-align: left;
  }
  .toggled .menu-items .menu-item {
    list-style-type: none;
    margin: 0.6rem;
    padding: 0.6rem;
  }
  .toggled .menu-items .menu-item a {
    color: #ffffff;
    text-decoration: none;
  }
  .toggled .menu-items .menu-item .dropdown-toggle {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 1.25rem;
  }
  .toggled .menu-items .menu-item .dropdown-toggle .fontawesome {
    color: #ffffff;
    font-size: 1.125rem;
    padding: 0.6rem;
  }
  .toggled .menu-items .menu-item .dropdown-toggle .fontawesome:before {
    content: "";
    cursor: pointer;
    display: inline-block;
    border: solid white;
    border-width: 0 0.25rem 0.25rem 0;
    float: right;
    transform: rotate(-135deg);
    padding: 0.25rem;
    margin-left: -0.5rem;
    margin-right: 0.8rem;
    margin-top: 0.5rem;
  }
  .toggled .menu-items .menu-item .sub-menu {
    left: -9999rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
  }
  .toggled .menu-items .menu-item.toggled-on .dropdown-toggle {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 1.25rem;
  }
  .toggled .menu-items .menu-item.toggled-on .dropdown-toggle .fontawesome {
    color: #ffffff;
    font-family: "Font Awesome 5 Free";
    font-size: 1.25rem;
    padding: 0.6rem;
  }
  .toggled .menu-items .menu-item.toggled-on .dropdown-toggle .fontawesome:before {
    content: "";
    display: inline-block;
    border: solid white;
    border-width: 0 0.25rem 0.25rem 0;
    float: right;
    transform: rotate(45deg);
    padding: 0.25rem;
    margin-left: -0.5rem;
    margin-right: 0.8rem;
    margin-top: 0.5rem;
  }
  .toggled .menu-items .menu-item.toggled-on .sub-menu {
    background: transparent;
    left: 0;
    right: 0;
    padding-left: 0;
    position: relative;
  }
}
@media screen and (min-width: 30.063rem) and (max-width: 37.5rem) {
  .menu-toggle {
    background: #000000;
    border: none;
    bottom: 1.125rem;
    color: #ffffff;
    cursor: pointer;
    font-family: var(--font-family-primary, "Merriweather", serif);
    left: 1.125rem;
    padding: 0.5rem 1rem;
    position: fixed;
  }
  .menu-items {
    left: -9999rem;
    position: absolute;
  }
  .toggled .menu-items {
    background: #000000;
    display: block;
    bottom: 3.5rem;
    left: 1.25rem;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 1.125rem;
    text-align: left;
  }
  .toggled .menu-items .menu-item {
    list-style-type: none;
    margin: 0.6rem;
    padding: 0.6rem;
  }
  .toggled .menu-items .menu-item a {
    color: #ffffff;
    text-decoration: none;
  }
  .toggled .menu-items .menu-item .dropdown-toggle {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 1.25rem;
  }
  .toggled .menu-items .menu-item .dropdown-toggle .fontawesome {
    color: #ffffff;
    font-size: 1.125rem;
    padding: 0.6rem;
  }
  .toggled .menu-items .menu-item .dropdown-toggle .fontawesome:before {
    content: "";
    cursor: pointer;
    display: inline-block;
    border: solid white;
    border-width: 0 0.25rem 0.25rem 0;
    float: right;
    transform: rotate(-135deg);
    padding: 0.25rem;
    margin-left: -0.5rem;
    margin-right: 0.8rem;
    margin-top: 0.5rem;
  }
  .toggled .menu-items .menu-item .sub-menu {
    left: -9999rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
  }
  .toggled .menu-items .menu-item.toggled-on .dropdown-toggle {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 1.25rem;
  }
  .toggled .menu-items .menu-item.toggled-on .dropdown-toggle .fontawesome {
    color: #ffffff;
    font-size: 1.25rem;
    padding: 0.6rem;
  }
  .toggled .menu-items .menu-item.toggled-on .dropdown-toggle .fontawesome:before {
    content: "";
    display: inline-block;
    border: solid white;
    border-width: 0 0.25rem 0.25rem 0;
    float: right;
    transform: rotate(45deg);
    padding: 0.25rem;
    margin-left: -0.5rem;
    margin-right: 0.8rem;
    margin-top: 0.5rem;
  }
  .toggled .menu-items .menu-item.toggled-on .sub-menu {
    background: transparent;
    left: 0;
    right: 0;
    padding-left: 0;
    position: relative;
  }
}
@media screen and (min-width: 37.563rem) and (max-width: 48rem) {
  .menu-toggle {
    background: #000000;
    border: none;
    bottom: 1.125rem;
    color: #ffffff;
    cursor: pointer;
    font-family: var(--font-family-primary, "Merriweather", serif);
    left: 1.125rem;
    padding: 0.5rem 1rem;
    position: fixed;
  }
  .menu-items {
    left: -9999rem;
    position: absolute;
  }
  .toggled .menu-items {
    background: #000000;
    display: block;
    bottom: 3.5rem;
    left: 1.25rem;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 1.125rem;
    text-align: left;
  }
  .toggled .menu-items .menu-item {
    list-style-type: none;
    margin: 0.6rem;
    padding: 0.6rem;
  }
  .toggled .menu-items .menu-item a {
    color: #ffffff;
    text-decoration: none;
  }
  .toggled .menu-items .menu-item .dropdown-toggle {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 1.25rem;
  }
  .toggled .menu-items .menu-item .dropdown-toggle .fontawesome {
    color: #ffffff;
    font-size: 1.125rem;
    padding: 0.6rem;
  }
  .toggled .menu-items .menu-item .dropdown-toggle .fontawesome:before {
    content: "";
    cursor: pointer;
    display: inline-block;
    border: solid white;
    border-width: 0 0.25rem 0.25rem 0;
    float: right;
    transform: rotate(-135deg);
    padding: 0.25rem;
    margin-left: -0.5rem;
    margin-right: 0.8rem;
    margin-top: 0.5rem;
  }
  .toggled .menu-items .menu-item .sub-menu {
    left: -9999rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
  }
  .toggled .menu-items .menu-item.toggled-on .dropdown-toggle {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 1.25rem;
  }
  .toggled .menu-items .menu-item.toggled-on .dropdown-toggle .fontawesome {
    color: #ffffff;
    font-size: 1.25rem;
    padding: 0.6rem;
  }
  .toggled .menu-items .menu-item.toggled-on .dropdown-toggle .fontawesome:before {
    content: "";
    display: inline-block;
    border: solid white;
    border-width: 0 0.25rem 0.25rem 0;
    float: right;
    transform: rotate(45deg);
    padding: 0.25rem;
    margin-left: -0.5rem;
    margin-right: 0.8rem;
    margin-top: 0.5rem;
  }
  .toggled .menu-items .menu-item.toggled-on .sub-menu {
    background: transparent;
    left: 0;
    right: 0;
    padding-left: 0;
    position: relative;
  }
}
@media screen and (min-width: 48.063rem) and (max-width: 64rem) {
  .top-navigation {
    background: #666666;
    border-bottom: 0.063rem solid #ffffff;
    padding: 1.125rem;
  }
  .top-navigation .primary-menu .menu-toggle {
    display: none;
  }
  .top-navigation .primary-menu .menu-items {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: static;
    justify-content: center;
  }
  .top-navigation .primary-menu .menu-items .menu-item {
    left: unset;
    position: relative;
    width: -moz-max-content;
    width: max-content;
  }
  .top-navigation .primary-menu .menu-items .menu-item:hover {
    color: #ffffff;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }
  .top-navigation .primary-menu .menu-items .menu-item.menu-item-has-children > a:after {
    content: "";
    display: inline-block;
    border: 1px solid white;
    float: right;
    border-width: 0 0.25rem 0.25rem 0;
    transform: rotate(45deg);
    padding: 0.2rem;
    margin-left: -0.5rem;
    margin-right: 0.8rem;
    margin-top: 0.25rem;
  }
  .top-navigation .primary-menu .menu-items .menu-item.menu-item-has-children .sub-menu .menu-item-has-children a:after {
    display: none;
  }
  .top-navigation .primary-menu .menu-items .menu-item.current-menu-item a {
    color: #ffffff;
    padding: 0.5rem 1rem;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }
  .top-navigation .primary-menu .menu-items .menu-item.current-menu-item .sub-menu .menu-item a {
    color: #ffffff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    text-decoration-thickness: 0;
    text-underline-offset: 0;
  }
  .top-navigation .primary-menu .menu-items .menu-item a {
    color: #ffffff;
    padding: 0.5rem 1rem;
    text-decoration: none;
  }
  .top-navigation .primary-menu .menu-items .menu-item .dropdown-toggle {
    display: none;
  }
  .top-navigation .primary-menu .menu-items .menu-item .sub-menu {
    background: #000000;
    left: 0;
    list-style-type: none;
    margin: 0.7rem 0;
    opacity: 0;
    padding: 0.5rem 0;
    position: absolute;
    transform: translateY(-1em);
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  }
  .top-navigation .primary-menu .menu-items .menu-item .sub-menu .menu-item {
    margin: 0 0 0.5rem 0;
    padding: 0.5rem;
  }
  .top-navigation .primary-menu .menu-items .menu-item .sub-menu .menu-item a {
    color: #ffffff;
  }
  .top-navigation .primary-menu .menu-items .menu-item .sub-menu .menu-item:last-child {
    margin: 0;
  }
  .top-navigation .primary-menu .menu-items .menu-item:hover .sub-menu, .top-navigation .primary-menu .menu-items .menu-item:focus-within .sub-menu, .top-navigation .primary-menu .menu-items .menu-item.focus .sub-menu {
    left: 0;
    visibility: visible; /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1170px) {
  .top-navigation {
    background: #666666;
    border-bottom: 0.063rem solid #ffffff;
    padding: 1.125rem;
  }
  .top-navigation .primary-menu .menu-toggle {
    display: none;
  }
  .top-navigation .primary-menu .menu-items {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: static;
    justify-content: center;
  }
  .top-navigation .primary-menu .menu-items .menu-item {
    left: unset;
    position: relative;
    width: -moz-max-content;
    width: max-content;
  }
  .top-navigation .primary-menu .menu-items .menu-item:hover {
    color: #ffffff;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }
  .top-navigation .primary-menu .menu-items .menu-item.menu-item-has-children > a:after {
    content: "";
    display: inline-block;
    border: 1px solid white;
    float: right;
    border-width: 0 0.25rem 0.25rem 0;
    transform: rotate(45deg);
    padding: 0.2rem;
    margin-left: -0.5rem;
    margin-right: 0.8rem;
    margin-top: 0.25rem;
  }
  .top-navigation .primary-menu .menu-items .menu-item.menu-item-has-children .sub-menu .menu-item-has-children a:after {
    display: none;
  }
  .top-navigation .primary-menu .menu-items .menu-item.current-menu-item a {
    color: #ffffff;
    padding: 0.5rem 1rem;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }
  .top-navigation .primary-menu .menu-items .menu-item.current-menu-item .sub-menu .menu-item a {
    color: #ffffff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    text-decoration-thickness: 0;
    text-underline-offset: 0;
  }
  .top-navigation .primary-menu .menu-items .menu-item a {
    color: #ffffff;
    padding: 0.5rem 1rem;
    text-decoration: none;
  }
  .top-navigation .primary-menu .menu-items .menu-item .dropdown-toggle {
    display: none;
  }
  .top-navigation .primary-menu .menu-items .menu-item .sub-menu {
    background: #000000;
    left: 0;
    list-style-type: none;
    margin: 0.7rem 0;
    opacity: 0;
    padding: 0.5rem 0;
    position: absolute;
    transform: translateY(-1em);
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  }
  .top-navigation .primary-menu .menu-items .menu-item .sub-menu .menu-item {
    margin: 0 0 0.5rem 0;
    padding: 0.5rem;
  }
  .top-navigation .primary-menu .menu-items .menu-item .sub-menu .menu-item a {
    color: #ffffff;
  }
  .top-navigation .primary-menu .menu-items .menu-item .sub-menu .menu-item:last-child {
    margin: 0;
  }
  .top-navigation .primary-menu .menu-items .menu-item:hover .sub-menu, .top-navigation .primary-menu .menu-items .menu-item:focus-within .sub-menu, .top-navigation .primary-menu .menu-items .menu-item.focus .sub-menu {
    left: 0;
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
  }
}
@media screen and (min-width: 73.188rem) {
  .top-navigation {
    background: #333435;
    border-bottom: 0.063rem solid #ffffff;
    padding: 1.125rem;
  }
  .top-navigation .primary-menu .menu-toggle {
    display: none;
  }
  .top-navigation .primary-menu .menu-items {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: static;
    justify-content: center;
  }
  .top-navigation .primary-menu .menu-items .menu-item {
    left: unset;
    position: relative;
    width: -moz-max-content;
    width: max-content;
  }
  .top-navigation .primary-menu .menu-items .menu-item:hover {
    color: #000000;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }
  .top-navigation .primary-menu .menu-items .menu-item.menu-item-has-children > a:after {
    content: "";
    display: inline-block;
    border: 1px solid white;
    float: right;
    border-width: 0 0.25rem 0.25rem 0;
    transform: rotate(45deg);
    padding: 0.2rem;
    margin-left: -0.5rem;
    margin-right: 0.8rem;
    margin-top: 0.25rem;
  }
  .top-navigation .primary-menu .menu-items .menu-item.menu-item-has-children .sub-menu .menu-item-has-children a:after {
    display: none;
  }
  .top-navigation .primary-menu .menu-items .menu-item.current-menu-item a {
    color: #000000;
    padding: 0.5rem 1rem;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }
  .top-navigation .primary-menu .menu-items .menu-item.current-menu-item .sub-menu .menu-item a {
    color: #000000;
    padding: 0.5rem 1rem;
    text-decoration: none;
    text-decoration-thickness: 0;
    text-underline-offset: 0;
  }
  .top-navigation .primary-menu .menu-items .menu-item a {
    color: #b0b3b8;
    padding: 0.5rem 1rem;
    text-decoration: none;
  }
  .top-navigation .primary-menu .menu-items .menu-item .dropdown-toggle {
    display: none;
  }
  .top-navigation .primary-menu .menu-items .menu-item .sub-menu {
    background: #000000;
    left: 0;
    list-style-type: none;
    margin: 0.7rem 0;
    opacity: 0;
    padding: 0.5rem 0;
    position: absolute;
    transform: translateY(-1em);
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  }
  .top-navigation .primary-menu .menu-items .menu-item .sub-menu .menu-item {
    margin: 0 0 0.5rem 0;
    padding: 0.5rem;
  }
  .top-navigation .primary-menu .menu-items .menu-item .sub-menu .menu-item a {
    color: #ffffff;
  }
  .top-navigation .primary-menu .menu-items .menu-item .sub-menu .menu-item:last-child {
    margin: 0;
  }
  .top-navigation .primary-menu .menu-items .menu-item:hover .sub-menu, .top-navigation .primary-menu .menu-items .menu-item:focus-within .sub-menu, .top-navigation .primary-menu .menu-items .menu-item.focus .sub-menu {
    left: 0;
    visibility: visible; /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
  }
}
.content-area {
  line-height: 1.8rem;
}
.content-area .page,
.content-area .post {
  margin-top: 3rem;
}
.content-area .page:first-child,
.content-area .post:first-child {
  margin-top: 0;
}
.content-area .page .entry-header,
.content-area .post .entry-header {
  text-align: center;
}
.content-area .page .entry-header .entry-title,
.content-area .post .entry-header .entry-title {
  margin: 0;
  padding: 0;
}
.content-area .page .entry-header .entry-title a,
.content-area .post .entry-header .entry-title a {
  text-decoration: none;
}
.content-area .page .entry-header .entry-metadata,
.content-area .post .entry-header .entry-metadata {
  display: flex;
  margin-top: 0.5rem;
  justify-content: center;
  align-items: center;
}
.content-area .page .entry-header .sep,
.content-area .post .entry-header .sep {
  margin: 0 0.5rem;
}

.comments-area {
  background: #ffffff;
  margin-top: 1.125rem;
}
.comments-area .comments-title {
  text-align: center;
}
.comments-area .comment-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.comments-area .comment-list .comments {
  border: 0.063rem solid #cccccc;
  margin-top: 1.125rem;
  padding: 1.125rem;
}
.comments-area .comment-list .comments:first-child {
  margin-top: 0;
}
.comments-area .comment-list .comments .comment__meta {
  border-bottom: 0.063rem solid #cccccc;
  font-size: 1.125rem;
  font-weight: bold;
}
.comments-area .comment-list .comments .comment__meta .sep {
  font-size: 0.938rem;
}
.comments-area .comment-list .comments .comment__meta .comment-permalink {
  font-size: 0.938rem;
  font-weight: normal;
}
.comments-area .comment-list .comments .comment__meta .comment-edit {
  font-size: 0.938rem;
  font-weight: normal;
}
.comments-area .comment-list .comments .comment__meta .comment-reply {
  font-size: 0.938rem;
  font-weight: normal;
}
.comments-area .comment-list .comments .children {
  border: none;
}
.comments-area .comment-list .comments .children .comments {
  border: none;
}
.comments-area .comment-list .comments .children .comments .comment__parent-link {
  font-size: 0.813rem;
}
.comments-area .comment-list .comments .children .comments svg {
  height: 1em;
  vertical-align: text-bottom;
  padding: 0 0.25em 0.1em;
}
.comments-area .comment-list .bypostauthor > .comment-body {
  background: #eeeeee;
  border: 0.063rem solid #cccccc;
  padding: 1.125rem;
}
.comments-area .comment-list .comment-meta {
  border-bottom: 0.063rem solid #cccccc;
}
.comments-area .comment-list .comment-meta .comment-author .fn {
  font-size: 1.125rem;
  font-weight: bold;
}
.comments-area .comment-list .comment-meta .comment-author .fn a {
  border-bottom: none;
}
.comments-area .comment-list .comment-meta .comment-author .says {
  display: none;
}
.comments-area .comment-list .comment-meta .comment-metadata {
  font-size: 0.875rem;
}
.comments-area .comment-list .comment-meta .comment-metadata .comment-edit-link {
  display: none;
}
.comments-area .comment-list .reply {
  font-size: 0.875rem;
  text-align: right;
}
.comments-area .comment-list .children {
  list-style-type: none;
  margin-top: 1.125rem 0;
  padding-left: 2.25rem;
}
.comments-area .comment-list .children .comment {
  border: none;
  padding: 0;
}
.comments-area .comment-respond {
  border: 0.063rem solid #cccccc;
  margin-top: 1.125rem;
  padding: 1.125rem;
}
.comments-area .comment-respond .comment-reply-title {
  margin: 0;
  padding: 0;
}
.comments-area .comment-respond .logged-in-as {
  font-size: 0.875rem;
}
.comments-area .comment-respond .comment-form {
  margin-top: -1rem;
}
.comments-area .comment-respond .comment-form .comment-form-comment textarea {
  border: 0.063em solid #cccccc;
  box-sizing: border-box;
  font-family: "Merriewather", serif;
  font-size: 1rem;
  max-height: 230px;
  max-width: 100%;
  display: block;
  padding: 0.5rem;
  width: 100%;
}
.comments-area .comment-respond .comment-form .comment-form-author {
  float: left;
  width: 49.2063492063%;
}
.comments-area .comment-respond .comment-form .comment-form-author:before {
  font-family: "Font Awesome 5 Free";
  content: "\f007";
  float: left;
  margin-left: 0.063em;
  margin-right: 0.25em;
}
.comments-area .comment-respond .comment-form .comment-form-author input[type=text] {
  border: 0.063em solid #cccccc;
  box-sizing: border-box;
  font-family: "Merriewather", serif;
  font-size: 1em;
  display: block;
  padding: 0.5em;
  width: 100%;
}
.comments-area .comment-respond .comment-form .comment-form-email {
  float: right;
  width: 49.2063492063%;
}
.comments-area .comment-respond .comment-form .comment-form-email:before {
  font-family: "Font Awesome 5 Free";
  content: "\f0e0";
  float: left;
  margin-left: 0.063em;
  margin-right: 0.25em;
}
.comments-area .comment-respond .comment-form .comment-form-email input[type=email] {
  border: 0.063em solid #cccccc;
  box-sizing: border-box;
  font-family: "Merriewather", serif;
  font-size: 1em;
  display: block;
  padding: 0.5em;
  width: 100%;
}
.comments-area .comment-respond .comment-form .comment-form-url {
  margin-bottom: 1.3em;
  width: 100%;
}
.comments-area .comment-respond .comment-form .comment-form-url:before {
  font-family: "Font Awesome 5 Free";
  content: "\f0ac";
  float: left;
  margin-left: 0.063em;
  margin-right: 0.25em;
}
.comments-area .comment-respond .comment-form .comment-form-url input[type=url] {
  border: 0.063em solid #cccccc;
  box-sizing: border-box;
  font-family: "Merriewather", serif;
  font-size: 1em;
  display: block;
  padding: 0.5em;
  width: 100%;
}
.comments-area .comment-respond .comment-form .form-submit {
  margin-bottom: 0;
}
.comments-area .comment-respond .comment-form .form-submit .submit {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0.5rem 1rem;
  line-height: 1;
  font-family: var(--font-family-secondary);
  font-size: 1rem;
  border-radius: 3px;
  white-space: normal;
  word-break: break-all;
  transition: all 0.5s ease-in-out;
}
.comments-area .comment-respond .comment-form .required {
  color: #FF0000;
  font-size: 0.625em;
}
.comments-area .comment-respond .comment-form .comment-notes {
  font-size: 12px;
}
.comments-area .comment-respond .comment-form .comment-form-cookies-consent {
  font-size: 14px;
}
.comments-area .comment-respond .comment-form .comment-form-cookies-consent input[type=checkbox] {
  margin-right: 0.25em;
}

.widget .widget-title {
  margin: 0;
  padding: 0;
}
.widget ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.widget ul li {
  line-height: 1.8rem;
}

.widget.widget_calendar #wp-calendar table {
  border-collapse: collapse;
  width: 100%;
}
.widget.widget_calendar #wp-calendar tr:nth-of-type(odd) {
  background: #eeeeee;
}
.widget.widget_calendar #wp-calendar th {
  background: #000000;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}
.widget.widget_calendar #wp-calendar th,
.widget.widget_calendar #wp-calendar td {
  border: 0.063em solid #cccccc;
  padding: 0.438em;
  text-align: center;
}
.widget.widget_calendar #wp-calendar {
  border: 0.063em solid #cccccc;
  margin-bottom: 0;
  text-align: center;
  width: 100%;
}
.widget.widget_calendar #wp-calendar a {
  color: #000080;
}
.widget.widget_calendar #wp-calendar caption {
  font-weight: 700;
  margin: 5px 0;
  text-align: center;
}
.widget.widget_calendar #wp-calendar #today {
  background: #000000;
  color: #ffffff;
  font-weight: 700;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  word-wrap: normal;
  border: none;
}
.screen-reader-text:active, .screen-reader-text:focus {
  clip: auto;
  -webkit-clip-path: none;
          clip-path: none;
  display: block;
  height: auto;
  width: auto;
  z-index: 100000;
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}
