.site-header {
	.custom-image-header {
		position: relative;

		.site-branding {
			left: 50%;
			position: absolute;
			text-align: center;
			top: 50%;
			transform: translate( -50%, -50% );
			width: 100%;

			.site-title {
				margin: 0;
				padding: 0;

				a {
					color: color( black );
					text-decoration: none;
				}
			}

			.site-description {
				margin: 0;
				padding: 0;
			}
		}
	}
}
