@each $name, $value in $breakpoints {
	.#{$name}\:container {
		@if $name == lg {
			@media screen and ( min-width: 769px ) and ( max-width: $value ) {
				margin-left: 1.125rem;
				margin-right: 1.125rem;
			}
		}

		@if $name == xl {
			@media screen and ( min-width: 1025px ) and ( max-width: 1200px ) {
				margin-left: auto;
				margin-right: auto;
				max-width: 72.75rem;
			}

			@media screen and ( min-width: 1200px ) {
				margin-left: auto;
				margin-right: auto;
				max-width: 72.75rem;
			}
		}
	}
}
