.site-container,
.site-content,
.site-main,
.content-area,
.post-navigation,
.posts-navigation,
.entry-content {
    &:before,
    &:after {
        clear: both;
        content: "";
        display: table;
    }
}