.content-area {
	.post {
		margin-bottom: 2rem;

		.entry-header {

			.entry-metadata {
				display: flex;
				font-size: 0.875rem;
				margin-top: 0.5rem;
				justify-content: center;
				align-items: center;
			}

			.sep {
				margin: 0 0.5rem;
			}
		}
	}
}
