.content-area {
	line-height: 1.8rem;

	.page,
	.post {
		margin-top: 1.125rem;

		&:first-child {
			margin-top: 0;
		}

		.entry-header {
			margin-bottom: 1rem;
			text-align: center;

			.entry-title {
				margin: 0;
				padding: 0;

				a {
					text-decoration: none;
				}
			}

			.entry-metadata {
				display: flex;
				margin-top: 0.5rem;
				justify-content: center;
				align-items: center;
			}

			.sep {
				margin: 0 0.5rem;
			}
		}
	}
}
