.content-area {
	.post {

		.entry-header {
			text-align: center;

			.entry-title {
				margin: 0;
				padding: 0;
			}

			.entry-metadata {
				display: flex;
				justify-content: center;
				align-items: center;

				.svg-author,
				.svg-date,
				.svg-comment {
					height: 20px;
					width: 20px;
				}

				.svg-author {
					margin-right: 0.2rem;
				}

				.svg-date {
					margin-left: 0.5rem;
					margin-right: 0.2rem;
				}

				.svg-comment {
					margin-left: 0.5rem;
					margin-right: 0.2rem;
				}
			}
		}
	}
}
